# Auth
SECRET_KEY=you-can-use-python-secrets-module-to-generate-a-secure-key
AUTH_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database
# DATABASE_URL=sqlite+aiosqlite:///./learn_fastapi/test.db
DATABASE_URL=postgresql+asyncpg://postgres:your_secure_password@localhost:5432/fastapi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=fastapi_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Security
COOKIE_SECURE=false        # true in production
COOKIE_SAMESITE=lax        # strict in production or none if using cross-site cookies
COOKIE_DOMAIN=             # localhost by default

# Frontend
LEARN_FASTAPI_API_URL=http://localhost:8000/api/v1  # Adjust if your API is hosted elsewhere
